APP_NAME=
BASE_URL=
POSTGRES_DB_URL=
POSTGRES_MAX_CONNECTION=
POSTGRES_DB_TIMEOUT=
POSTGRES_CONNECTION_TIMEOUT=
JWT_SECRET=
#CORS_ALLOWED_ORIGIN=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
DISALLOW_RATE_LIMIT=
COOKIE_SECRET_KEY=
IS_PRODUCTION=
